language: cpp

dist: trusty

matrix:
  env:
    - NUM=0
    - NUM=1
    - NUM=2
    - NUM=3
    - NUM=4
    - NUM=5
    - NUM=6
    - NUM=7
    - NUM=8
    - NUM=9
    - NUM=10
    - NUM=11
    - NUM=12
    - NUM=13
    - NUM=14
    - NUM=15
    - NUM=16
    - NUM=17
    - NUM=18
    - NUM=19
    - NUM=20
    - NUM=21
    - NUM=22
    - NUM=23
    - NUM=24
    - NUM=25
    - NUM=26
    - NUM=27
    - NUM=28
    - NUM=29
    - NUM=30
    - NUM=31
    - NUM=32
    - NUM=33
    - NUM=34
    - NUM=35
    - NUM=36
    - NUM=37
    - NUM=38
    - NUM=39
    - NUM=40
    - NUM=41
    - NUM=42
    - NUM=43
    - NUM=44
    - NUM=45
    - NUM=46
    - NUM=47
    - NUM=48
    - NUM=49
    - NUM=50
    - NUM=51
    - NUM=52
    - NUM=53
    - NUM=54
    - NUM=55
    - NUM=56
    - NUM=57
    - NUM=58
    - NUM=59
    - NUM=60
    - NUM=61
    - NUM=62
    - NUM=63
    - NUM=64
    - NUM=65
    - NUM=66
    - NUM=67
    - NUM=68
    - NUM=69
    - NUM=70
    - NUM=71
    - NUM=72
    - NUM=73
    - NUM=74
    - NUM=75
    - NUM=76
    - NUM=77
    - NUM=78
    - NUM=79
    - NUM=80
    - NUM=81
    - NUM=82
    - NUM=83
    - NUM=84
    - NUM=85
    - NUM=86
    - NUM=87
    - NUM=88
    - NUM=89
    - NUM=90
    - NUM=91
    - NUM=92
    - NUM=93
    - NUM=94
    - NUM=95
    - NUM=96
    - NUM=97
    - NUM=98
    - NUM=99
install:
  - true
script:
  - true
