language: android

sudo: false

android:
  components:
    - build-tools-19.1.0
    - android-19
    - sysimg-19
    - sysimg-8
    - extra-android-support
  licenses:
    - android-sdk-license-5be876d5
    - android-sdk-license-bcbbd656
    - .*intel.+

script: true
