language: objective-c

osx_image: xcode7

rvm: '2.0'

env:
  - GIT_SSH_COMMAND="ssh -i ~/.ssh/id_rsa -p 7999"

sudo: false

install:
  - find ~/.ssh || mkdir ~/.ssh
  - cat ~/.ssh/known_hosts || true

script: 
  - git clone ssh://git@stash.code.easyscott.com/app/pod-specs.git || cat ~/.ssh/known_hosts

